.todo-title {
    font-size: 50px;
    text-align: center;
    color: orange;
    margin-bottom: 15px 0;
    font-weight: 600;
}

.todo-list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 600px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.todo-container {
    margin: 50px auto;
    width: 600px;
}

.input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
}

button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 70%;
}

.todo-data {
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px
}